---
kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
  - ../../base
  - kiali-monitoring-rbac.yaml
  - kiali-user-workload-monitoring.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/channel
        value: 'stable'
    target:
      kind: Subscription
      name:  kiali-operator
