apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sigaint-monitoring
resources:
  - ../../base
  - networkpolicy.yaml
patches:

  # So we can inject logs though tailscale
#  - target:
#      kind: Service
#      name: victoria-logs-ingest
#    patch: |-
#      - op: replace
#        path: /spec/clusterIP
#        value: 172.30.255.15
#
#      - op: replace
#        path: /spec/clusterIPs
#        value:
#          - 172.30.255.15

  # Patch certificate names and issuerR`
  - target:
      kind: Certificate
      name: victoria-logs-tls
    patch: |-
      - op: replace
        path: /spec/commonName
        value: "observe.sigaint.au"
      - op: replace
        path: /spec/dnsNames
        value:
          - observe.sigaint.au
          - observe.ts.sigaint.au
      - op: replace
        path: /spec/issuerRef/name
        value: le-production
