---
kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: openshift-operators

resources:
  - ../../base
  - istio-system.yaml
  - istio-cni.yaml
  - ztunnel.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/channel
        value: 'stable'
    target:
      kind: Subscription
      name: openshift-service-mesh
