apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
helmCharts:
  - name: grafana
    includeCRDs: true
    valuesFile: values.yaml
    releaseName: grafana
    repo:  https://grafana.github.io/helm-charts